.companyUpdates {
  background-color: #fff;
  box-shadow: 0 80px 80px 0 rgba(48, 48, 58, 0.03);
}
.companyUpdates .updates_top {
  padding: 15px 15px 15px 20px;
  box-shadow: 0 1px 0 0 rgba(48, 48, 58, 0.07);
  margin-bottom: 2px;
}
.companyUpdates .updates_top h1 {
  font-family: Colfax-Medium;
  font-size: 16px;
  color: #30303a;
  float: left;
  padding: 15px 0 0 0;
}
.companyUpdates .updates_top a {
  font-family: Colfax-Medium;
  font-size: 14px;
  text-align: center;
  float: right;
  display: block;
  background-color: #f6f6f6;
  padding: 15px;
  border: solid 1px transparent;
  opacity: 0.4;
  color: #30303a;
}
.companyUpdates .updates_top a:hover {
  background-color: rgba(48, 48, 58, 0.05);
  border-color: rgba(48, 48, 58, 0.08);
  opacity: 1;
}
.companyUpdates .updates_bottom {
  padding: 0 20px;
  overflow-y: auto;
}
.companyUpdates .updates_bottom .cardbtm_inner {
  height: 750px;
}
